services:
  - type: web
    name: fastapi-app
    env: python
    buildCommand: |
      pip install --upgrade pip
      pip install setuptools wheel
      pip install -r requirements.txt
    startCommand: uvicorn main:app --host 0.0.0.0 --port $PORT
    buildFilter:
      paths:
        - requirements.txt
        - render.yaml
        - runtime.txt
